<!DOCTYPE html>
<html>
<head>
  <title>Tabla de usuarios</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Nodo</th>
        <th>Temperatura</th>
        <th>Humedad</th>
        <th>ppm</th>
      </tr>
    </thead>
    <tbody>
      <% datos.forEach(function(datos) { %>
        <tr>
          <td><%= datos.nodo %></td>
          <td><%= datos.temp %></td>
          <td><%= datos.hum %></td>
          <td><%= datos.ppm %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>